* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    height: 100%;
    overflow-y: hidden;
}

.container_principal_dashboard {
    display: flex;
    width: 100%;
    height: calc(100% - 60px);
}

.dashboard {
    min-width: 250px;
    width: 250px;
    height: 100%;
    background-color: #16171e;
    transition: .3s;
}

.dashboard hr {
    border: 1px solid #242424;
}

.btn_dashboard {
    padding: 20px 0 20px 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn_dashboard svg {
    width: 30px;
    height: 30px;
    transition: .3s;
    cursor: pointer;
    fill: rgb(86, 86, 86);
}

.btn_dashboard svg:hover {
    fill: #ff5500;
}

.user_container {
    width: 100%;
    height: 120px;
    padding: 10px 10%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.user_container img {
    width: 100%;
    display: none;
}

.fundo_img_user {
    width: 100%;
    max-width: 70px;
    max-height: 100%;
    height: 70px;
    border-radius: 50%;
    background-image: url('../img-dashboard/user.png');
    background-size: cover;
    background-position: center center;
}

.user_container span {
    font-weight: bold;
    color: white;
    padding-left: 10%;
}

.container_controle {
    padding: 20px 0;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

.container_controle ul {
    list-style-type: none;
    width: 100%;
}

.container_controle ul li {
    padding: 20px 4% 20px 12%;
    display: flex;
    align-items: center;
    transition: .3s;
}

.container_controle ul li:hover {
    background-color: black;
}

.container_controle li svg {
    fill: #494949;
    width: 22px;
    height: 22px;
    margin-right: 15px;
    transition: .3s;
}

.container_controle li:hover svg {
    fill: rgb(255, 255, 255);
}


.container_controle a {
    font-weight: normal;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.container_principal_conteudo {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}


@media screen and (max-width: 768px) {
    .dashboard {
        height: calc(100% - 60px);
        position: absolute;
        left: 0;
        top: 60px;
        min-width: 0px;
        width: 0px;
        z-index: 999;
    }

    .user_container {
        display: none;
        width: 100%;
        height: 100px;
        padding: 10px 1% 10px 10%;
        justify-content: left;
        align-items: center;
    }

    .container_controle {
        display: none;
    }
}
