@media screen and (max-width: 768px) {
    .menu_desktop {
        display: none;
    }

    .menu_burguer {
        display: block;
        transition: .3s;
        margin-right: 9%;
    }

    .menu_mobile {
        width: 70%;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .menu_mobile ul {
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        text-align: center;
        list-style-type: none;
    }

    .menu_mobile li {
        padding: 20px;
        transition: .3s;
        text-align: left;
        padding-left: 20%;
        cursor: pointer;
    }

    .menu_mobile li:hover {
        background-image: linear-gradient(to right, rgb(255, 170, 0), rgb(255, 119, 0));
    }

    .menu_mobile a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }

    .centralizar-logo {
        width: 30%;
    }
    
}

@media screen and (max-width: 480px) {
    .lista_dados_inv ul {
        padding-left: 4%;
        width: 40%;
    
    }

    .lista_dados_inv ul:nth-of-type(2) {
        padding-right: 4%;
        width: 60%;
    }

    .navbar_principal {
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    
    .valor_extrato_box {
        position: relative;
        width: 100%;
        border-radius: 8px;
        height: 120px;
        border: 2px solid rgb(233, 233, 233);
        transition: .4s;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .data_transacao {
        position: absolute;
        font-family: 'Montserrat',sans-serif;
        font-size: 13px;
        padding: 5px;
        bottom: 0;
        left: 0;
        color: rgb(25, 25, 25);
    }

    
    .valor_transferencia {
        width: 100%;
        font-family: 'Montserrat',sans-serif;
        font-weight: bold;
        color: rgb(0, 205, 0);
        padding-left: 30px;
        margin-top: -45px;
    }


    .extrato_user > h1 {
        font-family: 'Montserrat',sans-serif;
        color: black;
        text-align: center;
        padding-bottom: 0px;
    }
}